{% extends 'template.html' %}
{% block head %}
<title>Calculer la calorie des aliments !</title>
{% endblock %}
{% block content %}
 <div class="container-fluid">
     <div class="row pag">
         <form class="filters col s12 m8 l8" action="{{ locate }}/MyFridgeFood/energy/letter" method="post">
             <ul class="pagination">
                 <li class="active">
                     <button type="submit" name="letter" class="lettre" value="a">A</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="b">B</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="c">C</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="d">D</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="e">E</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="f">F</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="g">G</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="h">H</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="i">I</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="j">J</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="k">K</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="l">L</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="m">M</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="n">N</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="o">O</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="p">P</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="q">Q</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="r">R</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="s">S</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="t">T</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="u">U</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="v">V</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="w">W</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="x">X</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="y">Y</button></li>
                 <li><button type="submit" name="letter" class="lettre waves-effect" value="z">Z</button></li>
             </ul>
         </form>
     </div>
     <div class="row">
         <div class="col s12 l8">
         <div id="products">
        <div class="searching-panel row">
                </div>
              </div>
     </div>
        <div class="row">
           <form action="{{ locate }}/MyFridgeFood/energy/category" method="post">
               <ul>
                   
               </ul>
           </form>
           <div class="search">
               <form class="filters" action="{{ locate }}/MyFridgeFood/search" method="post">
            <div class="input-field l12">
                <i class="material-icons prefix">search</i>
            <input type="search" maxlength="80" size="80" name="search" id="autocomplete-input" class="autocomplete searched">
                <label for="autocomplete-input">Rechercher un produit</label>
        </div>
               </form>
               <button type="button" class="reset">Reset</button>
            </div>
    </div>
     </div>
     <div class="row">
         <div id="CalorieChart"></div>
     </div>
</div>
{% endblock %}
{% block footer %}
<script type="text/javascript">
    $('.reset').click(function () {
        alphabet("default");
    });
    alphabet("default");
</script>
{% endblock %}