<!DOCTYPE html>
<html lang="fr">
{% block head %} {% endblock head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ locate }}/MyFridgeFood/assets/css/style.css">
    <link rel="stylesheet" href="{{ locate }}/MyFridgeFood/assets/css/materialize.min.css">
    <link rel="stylesheet" href="{{ locate }}/MyFridgeFood/assets/font-awesome/css/font-awesome.min.css">
    <title></title>
</head>
    <body>
    <div class="logo">
            <a href="#" class="titre-logo waves-effect">Logo</a>
    </div>
    {% block landing %} {% endblock %}
    <nav>
<div class="nav-wrapper">
    <ul id="nav-mobil" class="left">
        <li><a href="#" data-activates="slide-out" class="collapse waves-effect"><i class="fa fa-bars" aria-hidden="true"></i></a></li> 

            <li><a href="{{ locate }}/MyFridgeFood/home" class="waves-effect"><i class="fa fa-home" aria-hidden="true"></i><span class="hide-on-med-and-down"> Accueil</span></a></li>
        </ul>
        <ul id="nav-mobile" class="right">
            <li><a href="#inscription" class="waves-effect modal-trigger"><i class="fa fa-sign-in" aria-hidden="true"></i> <span class="hide-on-med-and-down">Inscription</span></a></li>
            <li><a href="#connexion" class="waves-effect modal-trigger"><i class="fa fa-user" aria-hidden="true"></i> <span class="hide-on-med-and-down">Connexion</span></a></li>
        </ul>
    </div>
</nav>
  <div id="connexion" class="modal">
    <div class="modal-content">
      <h4>Connexion</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
    </div>
  </div>

  <div id="inscription" class="modal">
    <div class="modal-content">
      <h4>Inscription</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
    </div>
  </div>
   
    {% block content %} {% endblock content %}

<script src="{{locate}}/MyFridgeFood/assets/js/jquery.js"></script>
<script src="{{locate}}/MyFridgeFood/assets/js/app.js"></script>
<script src="{{locate}}/MyFridgeFood/assets/js/materialize.min.js"></script>
    </body>
</html>